.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 16px 40px 0 scale-color(#7090B0, $alpha: -80%),
                0 8px 26px 0 scale-color(#7090B0, $alpha: -90%);
    padding: 3rem;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
