.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    &:after {
        display: none;
        position: absolute;
        content: '';
        bottom: -1rem;
        left: 50%;
        height: 8px;
        width: 8px;
        background: var(--color-grey-1);
    }
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    &:after {
        display: block;
    }
}

@media (min-width: 50rem) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .NavigationItem a {
        color: var(--color-grey-4);
        font-weight: 300;
        padding: 16px 10px;
        transition: all .25s ease-in 0s;
        &:after {
            $size: .5rem;
            display: none;
            content: '';
            position: absolute;
            bottom: .5rem;
            left: calc(50% - #{$size}/2);
            height: $size;
            width: $size;
            background: var(--color-primary);
            border-radius: 50%;
            transition: all .25s ease-in 0s;
        }
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        position: relative;
        font-weight: 500;
        color: inherit;
        &:after {
            display: block;
        }
    }
}
