.Button {
    padding: 1rem 1.2rem;
    color: white;
    border-radius: .6rem;
}

.primary {
    background: var(--color-primary);
}
.secondary {
    background: var(--color-secondary);
}
.tertiary {
    background: var(--color-tertiary);
}
