.RecipeDescription {
    width: 75%;
    p {
        font-weight: 400;
        font-size: 1.3rem;
        color: var(--color-grey-4)
    }
    h2 {
        text-transform: capitalize;
        font-weight: 500;
    }
}
