html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    font-family: var(--font-family-sans-serif);
    font-size: var(--default-font-size);
    background: var(--color-bg);
    color: var(--color-text);
}

.main {
    margin: 2rem 4rem;
    border: .5rem solid var(--white);
    border-radius: var(--default-border-radius);
    background: var(--color-tertiary);
    padding: 3rem;
}

@import "grid";
