.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    .SideToolbar & {
        align-items: stretch;
        flex-direction: column-reverse;
        text-align: center;
    }
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}

@import "NavigationItem/NavigationItem";
