:root {
    --font-family-sans-serif: 'Poppins', sans-serif;

    // colors
    --black: #000105;
    --white: #FFFFFF;
    --color-primary: #40378A;
    --color-secondary: #D5E7FF;
    --color-tertiary: #F0F7FF;
    --color-bg: #C6EBFF;

    // shades of grey
    --color-grey-1: #141414;
    --color-grey-2: #292929;
    --color-grey-3: #3d3d3d;
    --color-grey-4: #525252;
    --color-grey-5: #666;
    --color-grey-6: #7C7F85;

    --color-background: var(--color-tertiary);
    --color-text: var(--black);

    // dimensions
    --default-font-size: 1.6rem;

    // effects
    --default-border-radius: 1.6rem;

    --padding-default: 1.5rem;
}

$breakpoint-xs: 30rem;
$breakpoint-sm: 57.6rem;
$breakpoint-md: 39.9375rem;
$breakpoint-lg: 99.2rem;
$breakpoint-xl: 120rem;
