/* CARDS */
/*
* Main classes
*/
.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 1rem;
    transition: all .2s ease-out 0s;
    margin-bottom: 4rem;
    box-sizing: border-box;
    background: var(--color-secondary);
    border: 3px solid var(--white);
    box-shadow: 0 1px 1px 0 scale-color(#D5E7FF, $alpha: -20%),
                    0 1px 5px 0 scale-color(#D5E7FF, $alpha: -35%);
    width: calc(100% / 6);
    text-align: center;
    min-height: 17rem;

    img {
        display: block;
        position: relative;
        width: 120px;
        max-width: 100%;
        left: 50%;

        transform: translateX(-50%) translateY(-50%);
        filter: drop-shadow(3px 4px 4px #{scale-color(#000, $lightness: 65%)});
    }
    /*
    * Card Content classes
    */
    header,
    main,
    footer {
        flex: 1 0 auto;
        text-align: center;
        font-size: .65rem;
    }

    /*
    * Card content detail classes
    */
    header {
        font-weight: 700;
    }

    main {
        margin-top: -4.5rem;
        padding: 1.5rem 1rem 1.5rem;
        font-weight: 700;
        font-size: 1rem;
    }

    footer {
        padding-bottom: 1rem;
    }
}

.card__close {
    position: absolute;
    top: 10px; right: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    height: 20px; width: 20px;
    text-align: center;
    transition: all .15s ease-out 0s;
}

.card__close:hover {
    transform: scale(1.15);
}

/*
* Modifiers
*/

.large,
.medium,
.small {
    width: 100%;
}

@media (min-width: 769px) {
    .medium { width: calc(50% - 40px/2); }
    .small { width: calc(25% - (40px - 40px/4)); }
    .card + .card { margin-left: 40px; }
}
