.RecipeIngredients {
    max-width: 65%;
    flex-wrap: wrap;
    li {
        width: 33%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 0 0 3rem 0;
        font-size: 1.2rem;
        div {
            margin-left: 1rem;
            color: var(--color-grey-4);
            b {
                color: var(--color-grey-3);

            }
        }
    }
}
